<ul>
    <li>
        Business analytic (Describing project purposes to the detail)
    </li>
    <li>
        Project planner (Waterfall methodology)
    </li>
    <li>
        UI/UX Design (Website company profile and mobile apps)
    </li>
    <li>
        Prototyping (High Fidelity prototype website company profile designs)
    </li>
    <li>
        Website Front End Developer (Website company profile and back office dashboard)
    </li>
    <li>
        Product Testing (Black box testing website, back office dashboard, and mobile apps)
    </li>
    <li>
        Project Documentation (Technical and Flow requirement)
    </li>
    <li>
        Projects: <br>
        <ul>
            <li>
                Efektifpro (Main company profile)
            </li>
            <li>
                PPK-IJK (Sister company profile)
            </li>
            <li>
                Internal finance system
            </li>
            <li>
                ePro Connect (e-learning mobile apps)
            </li>
            <li>
                Spice Signature (Sister company profile)
            </li>
            <li>
                Kitchen management system
            </li>
        </ul>
    </li>
</ul>