<ul>
    <li>
        Project planner (Waterfall methodology)
    </li>
    <li>
        Project Documentation (Technical and Flow requirement)
    </li>
    <li>
        Crisis mitigation (Make extra plan from good condition to worst)
    </li>
    <li>
        UI/UX Design (Website company profile and mobile apps)
    </li>
    <li>
        Website Front End Developer (Website company profile and back office dashboard)
    </li>
    <li>
        Product Testing (Black box testing website, back office dashboard, and mobile apps)
    </li>
    <li>
        Project Documentation (Technical and Flow requirement)
    </li>
    <li>
        Projects: <br>
        <ul>
            <li>
                E-Commerce ‘Sabana Fried Chicken Billymoon Branch’ (Oct 2020 - Dec 2020)
            </li>
            <li>
                Company profile ‘Elite Life International’ (Feb 2021 - Mar 2021)
            </li>
            <li>
                Product catalog ‘Kainkan.id’ (Nov 2021)
            </li>
            <li>
                Company profile ‘Maha Bintang’ (Dec 2021)
            </li>
            <li>
                Product catalog ‘Vendor Wearpack’ (Dec 2021 - Jan 2022)
            </li>
            <li>
                Company Profile ‘Spices All You Need’ - spicesallyouneed.com (Dec 2021 - Jan 2022)
            </li>
            <li>
                Warehouse management system ‘PT Energi Mega Persada’ (Jul 2022 - Oct 2022)
            </li>
        </ul>
    </li>
</ul>