<ul>
    <li>
        UI/UX Design (Website design for Hospitality and Management Building dashboard)
    </li>
    <li>
        Prototyping (High Fidelity prototype website dashboard designs)
    </li>
    <li>
        Product Testing (Black box testing website dashboard)
    </li>
    <li>
        Project Documentation (Technical and Flow requirement)
    </li>
    <li>
        Projects: <br>
        <ul>
            <li>
                Horison Tirta Sanita (Company profile & hotel booking system)
            </li>
            <li>
                MD Tower Simatupang (Management building system)
            </li>
            <li>
                Tensindo (Warehouse management system)
            </li>
        </ul>
    </li>
</ul>