<ul>
    <li>
        Project planner (Agile scrum methodology)
    </li>
    <li>
        Project Documentation (Technical and Flow requirement)
    </li>
    <li>
        Allocating task (Backend, Frontend Web, Mobile, QA, System Analyst)
    </li>
    <li>
        Scrum monitoring (Daily, Weekly, or per Sprint)
    </li>
    <li>
        Crisis mitigation (Make extra plan from good condition to worst)
    </li>
    <li>
        Progress report (Weekly progress report and sprint task planning)
    </li>
    <li>Projects:<br>
        <ul>
            <li>
                Panorama Website & Mobile Apps (Travel & tour booking system)
            </li>
            <li>
                Bihunku x Alfamart (Marketing campaign)
            </li>
            <li>
                APLGI Website & Mobile Apps (Member management)
            </li>
            <li>
                PERPESI (Member management & golf handicap system)
            </li>
            <li>
                Reanda Bernardi (Company profile)
            </li>
            <li>
                MUNIO (Community Management)
            </li>
            <li>
                VhiWEB ESS (Employee Self Service system)
            </li>
            <li>
                Golden Rama (Travel & tour booking system)
            </li>
        </ul>
    </li>
</ul>